@import "../node_modules/normalize.css/normalize.css";
body,div,span{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
    align-content: flex-start;
    border: 0 solid #000000;
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    background-color: #1f1e34;
    color: #fff;
    font-family: "Avenir Next","HelveticaNeue-Light",Helvetica,Arial,sans-serif;
    font-weight: 100;
}
h1{
    font-size: 64px;
    font-weight: 100;
}
h2{
    font-size: 48px;
    font-weight: 100;
}
p{
    font-size: 24px;
}
a{
    font-weight: 400;
    color: #fff;
}
a:hover{
    font-weight: 400;
    color: #dadada;
    text-decoration: none;
}
.flex-row{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flex-item{
    padding: 0 2%;
}
.ihone-demo{
}
.feature-description{
}
/* 容器平铺 */
/* flex:0 1 auto;
 * flex-grow:0;
 * flex-shrink:1;
 * flex-shrink:auto;
*/
.flex-box1{
    padding:0 5%;
    align-self: stretch;
    flex-grow: 1;
    flex-basis: 0;
}
.flex-box2{
    align-self: stretch;
    flex-grow: 2;
    flex-basis: 0;
}
.full-height{
    height:100%;
}
.full-height:nth-of-type(1){
    background-image: url("http://gugugupan.github.io/sike-react-ilovereact/img/background.jpg");
    background-origin:border-box;
}
.full-height:nth-of-type(2){
    background-image: url("http://gugugupan.github.io/sike-react-ilovereact/img/tumblr-demo.jpg");
    background-origin:border-box;
}
.full-height:nth-of-type(3){
    background-image: url("http://gugugupan.github.io/sike-react-ilovereact/img/swype-demo.jpg");
    background-origin:border-box;
}
.full-height:nth-of-type(3){
    background-image: url("http://gugugupan.github.io/sike-react-ilovereact/img/android-robot.svg");
    background-origin:border-box;
}