@import "../node_modules/normalize.css/normalize.css";
body,div,span{
    box-sizing: border-box;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    border: 0 solid #000000;
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    background-color: #1f1e34;
    color: #fff;
    font-family: "Avenir Next","HelveticaNeue-Light",Helvetica,Arial,sans-serif;
    font-weight: 100;
}
h1{
    font-size: 64px;
    font-weight: 100;
}
h2{
    font-size: 48px;
    font-weight: 100;
}
p{
    font-size: 24px;
}
a{
    font-weight: 400;
    color: #fff;
}
a:hover{
    font-weight: 400;
    color: #dadada;
    text-decoration: none;
}
.section{
    background-color: rgba(255,0,0,.3);
    border:2px solid #fff;
}
.flex-row{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.flex-item{
    padding: 0 2%;
}
.ihone-demo{
    background-color: rgba(255,0,0,.3);
}
.feature-description{
    background-color: rgba(0,255,0,.3);
}
/* 容器平铺 */
/* flex:0 1 auto;
 * flex-grow:0;
 * flex-shrink:1;
 * flex-shrink:auto;
*/
.flex-box1{
    padding:0 5%;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
}
.flex-box2{
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
}
.full-height{
    height:100%;
}